@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;

}


li {
    padding-top: 25px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #b0d6c2;
}

.choose {
    text-align: center;
    padding-top: 40px;
    color: #bebebe;
}

.peoples {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.sw {
    text-align: center;
    padding-top: 70px;
    color: #bdbdbd;
}

body {
    background: linear-gradient(90deg, #2a446a, #375297, #1f6680, #0e698d);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    color: aliceblue;
    text-decoration: none;

}



.loader {
    display: flex;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #158438 transparent #128849 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}